*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent{
  height: 20rem;
  width: 30rem;
  background-color: greenyellow;
  text-align: center;
  transform: translate(50%,50%);
}

.child{
  height: 10rem;
  width: 15rem;
  margin-left: 5rem;
  background-color: brown;
  margin-top: 5rem;
}